:root {
  --color-primary-light: #ee3f00;
  --color-primary: #dd3b00;
  --color-primar-dark: #cc3600;
  --color-text: #eee;
  --color-text-dark: #c5c5c5;
  --color-background-white: #e9e5e5; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: var(--color-background-white);
  color: #eee;
  overflow-x: hidden; }

@keyframes moveUp {
  0% {
    transform: translateY(-750px); }
  80% {
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes showFlip {
  0% {
    transform: rotateX(-90deg); }
  80% {
    transform: rotateX(20deg); }
  100% {
    opacity: 1;
    transform: rotateX(0); } }

@keyframes upAndDown {
  0% {
    transform: translateY(-5px) translate(-50%, -50%); }
  100% {
    transform: translateY(5px) translate(-50%, -50%); } }

@keyframes moveDown {
  0% {
    bottom: 40%; }
  100% {
    bottom: 20%;
    opacity: 1; } }

@keyframes rotate {
  0% {
    transform: translate(100vw) rotate(270deg); }
  75% {
    transform: translate(-20vw) rotate(-10deg); }
  80% {
    transform: translate(-17vw) rotate(10deg); }
  100% {
    transform: translate(0) rotate(0deg); } }

@keyframes showUp {
  0% {
    transform: skew(6deg) scale(0.1);
    opacity: 0; }
  100% {
    transform: skew(6deg) scale(1);
    opacity: 1; } }

@keyframes fallDown {
  0% {
    transform: translateY(-800px) skew(6deg);
    opacity: 0; }
  100% {
    transform: translateY(0) skew(6deg);
    opacity: 1; } }

.header {
  background-image: linear-gradient(to right top, rgba(235, 233, 233, 0.212), rgba(0, 0, 0, 0.9)), url(../images/header5.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  width: 100vw;
  height: 100vh;
  position: relative; }

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  perspective: 10000px;
  backface-visibility: hidden; }
  .logo::after {
    content: " ";
    display: block;
    width: 40rem;
    height: 4px;
    margin: 0 auto;
    background-color: var(--color-primary);
    opacity: 0;
    animation: moveUp 1s ease-in-out .5s forwards; }
  .logo__text--primary {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 5rem;
    text-shadow: 2px 2px 2rem black;
    opacity: 0;
    transform-origin: bottom;
    animation: 1s ease-in-out 2s showFlip forwards; }
  .logo__text--secondary {
    color: var(--color-text-dark);
    letter-spacing: 2px;
    margin-bottom: 1rem;
    opacity: 0;
    transform-origin: bottom;
    animation: .5s ease-in-out 1.5s showFlip forwards; }

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid var(--color-background-white);
  transition: all .5s;
  animation: 1.5s ease-in-out 1.5s moveDown forwards; }
  .button__icon-arrow {
    width: 2rem;
    height: 2rem;
    fill: var(--color-background-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    animation: 1.5s ease-in-out 1s upAndDown alternate infinite; }
  .button__text {
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    opacity: 0;
    transition: all .5s; }
  .button:hover {
    border: 2px solid var(--color-primary); }
    .button:hover__icon-arrow {
      fill: var(--color-primary); }
  .button:hover + .button__text {
    bottom: 19%;
    opacity: 1; }

.section-about {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.button-wrapper {
  text-align: center; }

.about {
  width: 80%;
  padding: 6rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
  background-color: #eee;
  border-radius: 1rem;
  transform: skew(-6deg); }
  .about__header {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 4px;
    margin-bottom: 3rem; }
  .about__image {
    width: 30rem;
    height: 30rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    margin-right: 4rem;
    transform: skew(6deg);
    animation: showUp 2s; }
  .about__text {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.5;
    margin-bottom: 4rem;
    transform: skew(6deg); }
    .about__text::after {
      clear: both;
      display: table;
      content: ""; }
  .about__button:link, .about__button:visited {
    padding: .5rem 2rem;
    color: var(--color-primary);
    font-size: 2rem;
    background-color: var(--color-text);
    border: 2px solid var(--color-primary);
    letter-spacing: 1px;
    display: inline-block;
    transform: skew(6deg);
    border-radius: 50px;
    transition: all 1s;
    text-decoration: none;
    margin-left: auto; }
  .about__button:hover {
    background-color: var(--color-primary);
    color: var(--color-text); }
  .about_button:active {
    box-shadow: none;
    transform: skew(6deg) scale(0.9); }

.section-projects {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, rgba(235, 233, 233, 0.212), rgba(0, 0, 0, 0.9)), url(../images/header8.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.projects__header {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-text);
  letter-spacing: 4px;
  text-shadow: 2px 2px 2rem black; }
  .projects__header:after {
    content: "";
    display: block;
    width: 25rem;
    height: 4px;
    margin: 0 auto;
    background-color: var(--color-primary); }

.row {
  width: 80%;
  height: 400px;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between; }

.project {
  height: 100%;
  width: 30%;
  position: relative;
  perspective: 150rem; }
  .project:hover .project__card--front {
    transform: rotateY(180deg); }
  .project:hover .project__card--back {
    transform: rotateY(0); }
  .project__card {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.6);
    transition: all 1.3s; }
    .project__card--front {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(180, 180, 180, 0.85));
      padding: 1rem;
      color: black; }
    .project__card--back {
      background-color: rgba(221, 59, 0, 0.7);
      color: var(--color-text);
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: rotateY(-180deg); }
    .project__card--photo {
      width: 100%;
      height: 45%;
      border-radius: 3px; }
    .project__card--title {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 3px;
      text-align: center; }
      .project__card--title::after {
        content: "";
        display: block;
        width: 60%;
        height: 2px;
        margin: 1rem auto;
        background-color: var(--color-primary); }
    .project__card ul {
      list-style: none;
      max-height: 140px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem; }
    .project__card--button {
      padding: .5rem 1rem;
      color: var(--color-text);
      background-color: transparent;
      border: 2px solid var(--color-background-white);
      letter-spacing: 2px;
      display: inline-block;
      border-radius: 50px;
      transition: all 1s;
      text-decoration: none; }
      .project__card--button:hover {
        background-color: rgba(238, 238, 238, 0.85);
        border: 2px solid var(--color-background-white);
        color: black; }
  .project__button {
    z-index: 100; }
    .project__button--icon {
      height: 5.5rem;
      width: 5.5rem;
      fill: var(--color-text);
      z-index: 1000;
      transition: fill 1s;
      pointer-events: none; }
    .project__button--text {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      opacity: 0;
      z-index: 0;
      transition: all .5s; }
    .project__button:hover .project__button--icon {
      fill: var(--color-primary); }
    .project__button:hover + .project__button--text {
      bottom: 6%;
      opacity: 1; }

.section-technologies {
  min-height: 100vh;
  width: 100vw; }

.technologies__header {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 4px;
  text-align: center;
  margin: 5rem 0 8rem 0; }
  .technologies__header:after {
    content: "";
    display: block;
    width: 25rem;
    height: 4px;
    margin: 0 auto;
    background-color: var(--color-primary); }

.technologies-row {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-evenly; }
  .technologies-row__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    z-index: 100;
    position: relative; }
    .technologies-row__item .icon-wrapper {
      z-index: 100; }
      .technologies-row__item .icon-wrapper:hover ~ .text-wrapper {
        top: -15%;
        opacity: 1; }
      .technologies-row__item .icon-wrapper:hover ~ .stars-wrapper {
        bottom: -15%;
        opacity: 1; }
    .technologies-row__item .text-wrapper {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 1px;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 0;
      transition: all .6s; }
    .technologies-row__item .stars-wrapper {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      opacity: 0;
      z-index: 0;
      transition: all .6s; }
      .technologies-row__item .stars-wrapper svg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary); }

.technologies__item {
  width: 100px;
  height: 100px;
  fill: var(--color-text-dark);
  transition: all .6s; }
  .technologies__item--html:hover {
    fill: #E44E29; }
  .technologies__item--css3:hover {
    fill: #379AD6; }
  .technologies__item--javascript:hover {
    fill: #F8DC3D; }
  .technologies__item--sass:hover {
    fill: #CF6B9E; }
  .technologies__item--rwd:hover {
    fill: #5a5a5a; }
  .technologies__item--git:hover {
    fill: #F05033; }
  .technologies__item--github:hover {
    fill: #000; }
  .technologies__item--npm:hover {
    fill: #CC3534; }
  .technologies__item--react:hover {
    fill: #61DBFB; }
  .technologies__item--php:hover {
    fill: #8D90C5; }
  .technologies__item--mysql:hover {
    fill: #0077A2; }
  .technologies__item--wordpress:hover {
    fill: #21759B; }
  .technologies__item--bootstrap:hover {
    fill: #563D7C; }
