/* color-primary-light: #ee3f00
color-primary: #dd3b00
color-primar-dark: #cc3600 

color-text: #eee 
color-text-dark: #c5c5c5 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  background-color: #e9e5e5;
  color: #eee; }

.header {
  background-image: linear-gradient(to right top, rgba(235, 233, 233, 0.212), rgba(0, 0, 0, 0.9)), url(../images/header5.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  width: 100vw;
  height: 100vh;
  position: relative; }

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  perspective: 1000px; }

.logo::after {
  content: " ";
  display: block;
  width: 400px;
  height: 4px;
  margin: 0 auto;
  background-color: #dd3b00;
  opacity: 0;
  animation: moveUp 1s .5s forwards; }

.logo__text-primary {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.5rem;
  text-shadow: 2px 2px 20px black;
  opacity: 0;
  transform-origin: bottom;
  animation: test .5s 2s forwards; }

.logo__text-secondary {
  color: #c5c5c5;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: 0;
  transform-origin: bottom;
  animation: test .5s 1.5s forwards; }

.button {
  fill: white;
  width: 100px;
  height: 100px; }

@keyframes moveUp {
  0% {
    transform: translateY(-750px); }
  80% {
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes test {
  0% {
    transform: rotateX(-90deg); }
  80% {
    transform: rotateX(30deg); }
  100% {
    opacity: 1;
    transform: rotateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }
