.section-about {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-wrapper {text-align: center;
}
.about {
    width: 80%;
    padding: 6rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    background-color: #eee;
    border-radius: 1rem;
    transform: skew(-6deg);
    

    &__header {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 4px;
        margin-bottom: 3rem;
    }

    &__circle-image {
        width: 30rem;
        height: 30rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        border-radius: 50%;
        margin-right: 4rem;
        position: relative;
        perspective: 150rem;
        z-index: 1000;

        &--up,
        &--down {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left:0;
            backface-visibility: hidden;
            transform: skew(6deg); 
            transition: all 0.7s;
        }

        &--down {transform:skew(6deg) rotateY(-180deg);}

        &:hover &--up {transform: skew(6deg) rotateY(-180deg);}
        
        &:hover &--down {transform: skew(6deg) rotateY(0);}
    }

    &__text {
        color: black;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 2.5;
        margin-bottom: 4rem;
        transform: skew(6deg);
              
        &::after {
            clear: both;
            display: table;
            content: "";
        }
    }

    &__button:link,
    &__button:visited {
        padding: .5rem 2rem;
        color: var(--color-primary);
        font-size: 2rem;
        background-color: var(--color-text);
        border: 2px solid var(--color-primary);
        letter-spacing: 1px;        
        display: inline-block;
        transform: skew(6deg);     
        border-radius: 50px;
        transition: all 1s;
        text-decoration: none;
        margin-left: auto;
    }

    &__button:hover {
        background-color: var(--color-primary);
        color: var(--color-text);               
    }

    &_button:active {
        box-shadow: none;
        transform: skew(6deg) scale(.9); 
    }
}

