.section-about {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 414px) and (min-width: 410px) {min-height: 800px;}
    
    //@media (max-width: 323px) and (min-width: 317px) {padding: 2rem 0;}
    
}

.button-wrapper {text-align: center;}

.about {
    width: 80%;
    padding: 6rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
    background-color: #eee;
    border-radius: 1rem;
    transform: skew(-6deg);

    @include for-tablet-landscape-up {
        padding: 5rem;
    }

    @include for-phone-up {
        transform: skew(0);
        width: 90%;
        padding: 4rem;
    }

    @include for-small-phone-only {
        padding: 3rem;        
    }

    @media (max-width: 350px) {
        width: 100%;
        height: 100vh;
    }  

    @media (max-width: 323px) and (min-width: 317px) {height: auto;}

    &__header {
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 4px;
        margin-bottom: 3rem;

        @include for-phone-up {
            font-size: 3rem;
        }

        @include for-small-phone-only {
            font-size: 2rem;       
        }
    }

    &__circle-image {
        width: 30rem;
        height: 30rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        border-radius: 50%;
        margin-right: 4rem;
        position: relative;
        perspective: 150rem;
        z-index: 1000;

        @include for-tablet-landscape-up {
            width: 25rem;
            height: 25rem;
            margin-right: 2.5rem;
        }

        @include for-tablet-portrait-up {
            width: 18rem;
            height: 18rem;
            margin-right: 2.5rem;
        }

        @include for-small-phone-only {
            padding: 3rem;
            width: 16.5rem;
            height: 16.5rem;
            float: none;
            margin: 0 auto 2rem auto;
        }

        &--up,
        &--down {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left:0;
            backface-visibility: hidden;
            transform: skew(6deg); 
            transition: all 0.7s;

            
            @include for-phone-up {
                transform: skew(0);
            }
        }

        &--down {
            transform:skew(6deg) rotateY(-180deg);
            
            @include for-tablet-landscape-up {
                transform: skew(6deg) rotateY(0);
            }

            @include for-phone-up {
                transform: skew(0) rotateY(0);
            }
            
            // @include for-phone-up {
            //     transform: skew(0) rotateY(-180deg);
            // }
        }

        &--up {
            @include for-tablet-landscape-up {
                display: none;
            }
        }

        &:hover &--up {
            transform: skew(6deg) rotateY(-180deg);
            
            // @include for-phone-up {
            //     transform: skew(0) rotateY(-180deg);
            // }
        }
        
        &:hover &--down {
            transform: skew(6deg) rotateY(0);
            @include for-phone-up {
                transform: skew(0) rotateY(0);
            }        
        }
    }

    &__text {
        color: black;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 2.5;
        margin-bottom: 4rem;
        transform: skew(6deg);

        @include for-tablet-landscape-up {
            font-size: 1.3rem;
            letter-spacing: 1px;
            margin-bottom: 2.5rem;            
        }

        @include for-tablet-portrait-up {
            font-size: 1.3rem;
            letter-spacing: 0;
            margin-bottom: 2rem;            
        }

        @include for-phone-up {
            transform: skew(0);
            line-height: 2;
        }

        @include for-small-phone-only {
            line-height: 1.5;
            font-size: 1.3rem;
        }

        @media (max-width: 350px) {
            margin-bottom: 6rem;
        }
              
        &::after {
            clear: both;
            display: table;
            content: "";
        }
    }

    &__button:link,
    &__button:visited {
        padding: .5rem 2rem;
        color: var(--color-primary);
        font-size: 2rem;
        background-color: var(--color-text);
        border: 2px solid var(--color-primary);
        letter-spacing: 1px;        
        display: inline-block;
        transform: skew(6deg);     
        border-radius: 50px;
        transition: all 1s;
        text-decoration: none;
        margin-left: auto;

        @include for-tablet-portrait-up {
            padding: .3rem 1.5rem;
            font-size: 1.5rem;
        }

        @include for-phone-up {
            transform: skew(0);
        }
    }

    &__button:hover {
        background-color: var(--color-primary);
        color: var(--color-text);               
    }

    &_button:active {
        box-shadow: none;
        transform: skew(6deg) scale(.9);
        
        @include for-phone-up {
            transform: skew(0) scale(.9);
        }
    }
}

