.header {
    background-image: linear-gradient(to right top, rgba(235, 233, 233, 0.212), rgba(0, 0, 0, 0.9)), url(../images/header5.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    perspective: 10000px;
    backface-visibility: hidden;
    
    &::after {
        content: " ";
        display: block;
        width: 40rem;
        height: 4px;
        margin: 0 auto;
        background-color: var(--color-primary);
        opacity: 0;
        animation: moveUp 1s ease-in-out .5s forwards;
    }

    &__text--primary {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 5rem;
        text-shadow: 2px 2px 2rem black;
        opacity: 0;  
        transform-origin: bottom;
        animation: 1s ease-in-out 2s showFlip forwards;    
    } 

    &__text--secondary {
        color: var(--color-text-dark);
        letter-spacing: 2px;
        margin-bottom: 1rem;
        opacity: 0;
        transform-origin: bottom;   
        animation: .5s ease-in-out 1.5s showFlip forwards;    
    }
}

.button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 50%;
    opacity: 0;
    border: 2px solid var(--color-background-white);
    transition: all .5s;
    animation: 1.5s ease-in-out 1.5s moveDown forwards;

    &__icon-arrow {
        width: 2rem;
        height: 2rem;
        fill: var(--color-background-white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s;
        animation: 1.5s ease-in-out 1s upAndDown alternate infinite;
    }

    &__text {
        position: absolute;
        bottom: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        opacity: 0;
        transition: all .5s;
    }

    &:hover {
        border: 2px solid var(--color-primary) ;

        &__icon-arrow {
            fill: var(--color-primary);
        }
    }

    &:hover + &__text {
        bottom: 19%;
        opacity: 1;
    }
}