.section-projects {
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, rgba(235, 233, 233, 0.212), rgba(0, 0, 0, 0.9)), url(../images/header8.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projects__header {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-text);
    letter-spacing: 4px;
    text-shadow: 2px 2px 2rem black;

    &:after {
        content: "";
        display: block;
        width: 25rem;
        height: 4px;
        margin: 0 auto;
        background-color: var(--color-primary);
    }
}

.row {
    width: 80%;
    height: 400px;
    margin: 3rem 0; 
    display: flex;
    justify-content: space-between;
}

.project {
    height: 100%;
    width: 30%;
    position: relative;
    perspective: 150rem;

    &:hover &__card--front {
        transform: rotateY(180deg);
    }

    &:hover &__card--back {
        transform: rotateY(0);
    }

    &__card {
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.6);  
        transition: all 1.3s;

        &--front {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(180, 180, 180, 0.85));
            padding: 1rem;
            color: black;            
        }

        &--back {
            background-color: rgba(221, 59, 0, 0.7);            
            color: var(--color-text);
            padding: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transform: rotateY(-180deg);
        }

        &--photo {
            width: 100%;
            height: 45%;;
            border-radius: 3px;
        }

        &--title {
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: 3px;
            text-align: center;

            &::after {
                content: "";
                display: block;
                width: 60%;
                height: 2px;
                margin: 1rem auto;
                background-color: var(--color-primary);
            }
        }

        ul {
            list-style: none;
            max-height: 140px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
        }

        &--button {
            padding: .5rem 1rem;
            color: var(--color-text);
            background-color: transparent;
            border: 2px solid var(--color-background-white);
            letter-spacing: 2px;
            display: inline-block;    
            border-radius: 50px;
            transition: all 1s;
            text-decoration: none;

            &:hover {
                background-color: rgba(238, 238, 238, 0.85);
                border: 2px solid var(--color-background-white);
                color: black;
            }
           
        }
    }

    &__button {
        z-index: 100;
        

        &--icon {
            height: 5.5rem;
            width: 5.5rem;
            fill: var(--color-text);
            z-index: 1000;
            transition: fill 1s;
            pointer-events: none;
        }

        &--text {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            opacity: 0;
            z-index: 0;
            transition: all .5s;
        }

        &:hover &--icon {
            fill: var(--color-primary);
        }

        &:hover + &--text {
            bottom: 6%;
            opacity: 1;
            
        }
    }
}
